body {
  margin: 0;                                                 /*****<=lecturer's way try to override***/
  text-align: center;
  font-family: 'Dancing Script', cursive;
}


/***********TAG SELECTORS********/
h1 {
  margin-top: 0;
  position: relative; right: 10mm;                           /*****<=lecturer's way try to override***/
}

p {
  position: relative; right: 10mm;
  font-family: 'EB Garamond', serif;
}

/*************CLASS SELECTORS*********/

.TopContainer{
  margin: 200px;                                            /*****<=my successful try to override***/
  margin-top: 0px;
  padding-top: 100px;
  position: relative;
  background-color: #f7f7ee;                                /*****<=my successful try to override***/
}

.MiddleContainer {

}

.BottomContainer {

}

.mountain { position: relative;
}



.bottom-cloud {
  position: absolute; top: 275px;
}

.top-cloud {
  position: relative; left: 150px;
}
