body {
  margin: 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/***********TAG SELECTORS********/
h1 {
  margin-top: 0;
  position: relative;
  font-family: 'Dancing Script', cursive;
}

h3 {
  font-family: 'Open Sans', sans-serif; font-size: 12px; font-style: italic;
}

p {
  position: relative;
  font-family: 'Heebo', sans-serif;
}

a {
  position: relative; top: 25px; font-size: 17px;
}

/*************CLASS SELECTORS*********/

.top-container {
  margin: 0px;
  margin-top: 0px;
  padding-top: 100px;
  margin-bottom: 20px;
  position: relative;
  background-color: #f7f7ee;
}

.kuche {
  width: 200px;
  height: 200px;
  margin-top: 0;
}

.racoon {
  position: relative; left: 25px;
  width: 200px;
  height: 200px;
  margin-top: 0;
}

.circle {
  width: 200px;
  height: 200px;
  margin-top: 0;

}

.middle-container {
background-color:  #fffafa;
}

.plane {
  width: 50px;
  height: 50px;
  margin-top: 0;
  position: relative; right: 430px; bottom: 10px;
}

.milly {
  position: fixed;
  width: 25px;
  height: 35px;
  top: 560px;
  right: 5px;
}
  /**-webkit-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);**/


.If {
  font-size: 13px;
}

.Do {
  font-family: sans-serif; font-style:normal; font-size: 12px;
}

.bottom-container {
  background-color: #fffafa;
}

.Mii {
  font-size: 10px; margin: auto; margin-top: 35px; background-color: #e8e8e8;
}

.Co {
  position: relative; top: 31px; display: block; padding-bottom: 10px; margin-top: 0;
}

.mountain { position: relative;
}

.bottom-cloud {
  position: absolute; bottom: 330px; left: 270px;
}

.top-cloud {
  position: relative; left: 220px;
}
/******************************FACEBOOK******************/
.cat {
position: relative;
margin-top: 30px;
}

.How {
  font-family:'Emilys Candy', cursive;
  font-size: 30px;
}

.This {
  font-family:'Emilys Candy', cursive;
  font-size: 40px;
}
/*******************************TWITTER**************************/
.Catjoke {
  position: absolute;
  top: 250px;
  left: 720px;
  width: 380px;
  height: 300px;
  border-radius: 260%;
  object-fit: cover;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.dve {
  background-color: #ece8d9;
}

  h1.Hope {
  font-size: 22px;
  position: absolute;
  width: 520px;
  height: 110px;
  top: 170px;
  left: 120px;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  color: #393e46;
}

.Ehe {
font-size: 22px;
position: absolute;
width: 520px;
height: 80px;
top: 310px;
right: 380px;
font-family: 'Quattrocento', serif;
color: #393e46;
}

/************************WEbsite*************/
.tri {
background-color:
}


.Bre {
  position: absolute;
  padding: 110px;
  padding-bottom: 120px;
  margin-left: 380px;
  margin-right: 380px;
  font-size: 18px;
  font-family: 'Quattrocento', serif;
  color: #393e46;
  background-color: #f4f9f4;
}

.nindja {
border-radius: 260%;
border-top-right-radius: 20%;
border-bottom-right-radius: 20%;
object-fit: cover;
}

.sorry {
  font-size: 26px;
}
/************PSEUDO SELECTORS***************/

a:link {
  color: #a20a0a;
}

a:hover {
  color: #f688bb;
}

a:visited {
  #2c7873;
}

a:active {
  #acc6aa;
}
