body {
  margin: auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  position: relative;
  color: #31326f;
}

/***********TAG SELECTORS********/
h1 {
  margin-top: 0;
  position: relative;
  font-family: 'Dancing Script', cursive;
  color: #363062;
}

h2 {
  color: #4e89ae;
  padding-top: 20px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic;
}

p {
  font-family: 'Heebo', sans-serif; color: #111d5e;
}

a {
  position: relative;
  top: 25px;
  font-size: 17px;
}

hr {
  width: 580px;
  border-width: 1.3px;
  border-style: dotted none none;
  border-color: #35495e;
  border-bottom-color: #ccafaf;

}

/*************CLASS SELECTORS*********/

.skill-row {
  width: 50%;
  margin: auto auto 120px auto;
  height: 80px;
}

.skills {
height: 470px;
}

.mila {
  margin-bottom: 30px;
}

.top-container {
  margin: 0px;
  margin-top: 0px;
  padding-top: 100px;
  margin-bottom: 20px;
  position: relative;
  background-color: #f7f7ee;
}

.kuche {
  width: 200px;
  height: 200px;
  margin-top: 0;
}

.plane {
  width: 50px;
  height: 50px;
  margin-top: 0;
  position: relative;
  right: 430px;
  bottom: 10px;
}

.hrom {
padding-right: 8rem;
}

.comp {
padding-top: 40px;
padding-left: 14rem;
}

.compi {
  padding-left: 8rem;
}

.racoon {
  margin-top: 30px;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  float: left;
  text-align: right;
}

.ouch {
  text-align: left;
}

.circle {
  width: 150px;
  height: 150px;
  float: right;
  text-align: left;

  }

.middle-container {
  margin-top: 10px;

}


.milly {
  position: fixed;
  width: 25px;
  height: 35px;
  top: 560px;
  right: 5px;
}

/**-webkit-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);**/
.If {
  font-size: 15px;
  padding-top: 10px;
}

.Do {
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
}

.bottom-container {
}

a.footer-link {
  font-size: 20px;
}

.Mii {
  font-size: 13px;
  margin: auto;
  margin-top: 45px;
  background-color: #e8e8e8;
  padding: 10px;
  color: black;
}

.get {
  color: #931a25; font-weight: lighter;
}

.Button {
  background-color: #f3ecd3;
  border-radius: 35%;
  color: white;
  padding: 10px 42px 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 22px;
}

.mountain {
  position: relative;
}

.bottom-cloud {
  position: absolute;
  bottom: 330px;
  left: 270px;
}

.top-cloud {
  position: relative;
  left: 220px;
}

/******************************FACEBOOK******************/
.Divane {
  background-color: #f4f9f4;
  position: relative;
  width: 800px;
  height: 560px;
  display: inline-block;
  top: 30px;
  bottom: 30px;
}

.cat {
  position: relative;
  margin-top: 5px;
}

.How {
  font-family: 'Emilys Candy', cursive;
  font-size: 30px;
  margin-top: 25px;
}

.This {
  font-family: 'Emilys Candy', cursive;
  font-size: 40px;
  margin-top: 10px;
}

/*******************************TWITTER**************************/
.Catjoke {
  position: absolute;
  top: 250px;
  left: 720px;
  width: 380px;
  height: 300px;
  border-radius: 260%;
  object-fit: cover;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.dve {
  background-color: #ece8d9;
}

h1.Hope {
  font-size: 22px;
  position: absolute;
  width: 520px;
  height: 110px;
  top: 170px;
  left: 120px;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  color: #393e46;
}

.Ehe {
  font-size: 22px;
  position: absolute;
  width: 520px;
  height: 80px;
  padding-left: 200px;
  top: 310px;
  font-family: 'Quattrocento', serif;
  color: #393e46;
}

/************************WEbsite*************/
.tri {
  background-color:
}

#hi {
  border-style: dotted;
  border-color: #dfdfdf;
  width: 100px;
  border-width: 1px;
  margin-top: 45px;
}

.Bre {
  position: absolute;
  padding: 110px;
  font-size: 18px;
  font-family: 'Quattrocento', serif;
  color: #393e46;
  background-color: #f4f9f4;
  display: block;
  margin: auto 275px 0 275px
}

.brebre {
  position: relative;
  padding-top: 15px;
}

.nindja {
  border-radius: 260%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  object-fit: cover;
}

.sorry {
  font-size: 26px;
}

/************PSEUDO SELECTORS***************/
a:link {
  color: #a20a0a;
}

a:hover {
  color: #f688bb;
}

a:visited {
  #2c7873;
}

a:active {
  #acc6aa;
}
